<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false">

        <receiver
            android:name=".weather.WeatherPillWidget"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_pill_info" />
        </receiver>

        <provider
            android:name=".weather.providers.WidgetImageProvider"
            android:authorities="${applicationId}.widgetimages"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".weather.WeatherConfigProxyActivity"
            android:exported="true"
            android:theme="@style/Theme.Config.Proxy">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather.WeatherConfigureActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Material3Expressive.DynamicColors.DayNight.NoActionBar" />

        <service
            android:name=".weather.FramePumpService"
            android:exported="false"
            android:foregroundServiceType="shortService" />

    </application>

</manifest>
